/* index */
.navbar {
  background-color: #EFF0E9;
}

.nav-link.primary.active {
  color: #79A0BF;
  font-weight: 600;
}

.nav-link.primary:active {
  color: #79A0BF;
}

.nav-link.primary:hover {
  color: #79A0BF;
}

/* navbar secondary*/
.nav-link.secondary.active {
  color: #EFF0E9;
  font-weight: 600;
}

.nav-link.secondary:active {
  color: #EFF0E9;
}

.nav-link.secondary:hover {
  color: #EFF0E9;
}


#header {
  background-color: #EFF0E9;
}

#project-preview {
  background-color: #79A0BF;
}

body {
  background-color: #EFF0E9;
  font-family: Poppins;
}

h1.title {
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  font-size: 80px;
}

h1.header {
  color: #79A0BF;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  font-size: 80px;
}

p.lead {
  color: #585E6E;
  font-size: 25px;
  font-weight: 500;
}

p {
  font-weight: 500;
  font-size: large;
}

li.bigger {
  font-weight: 500;
  font-size: large;
}

p.header-txt {
  color: #585E6E;
  font-style: normal;
  font-weight: 600;
  font-size: xx-large;
}

h1 {
  color: #585E6E;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: #585E6E;
  font-style: normal;
  font-weight: 600
}

h2.semi-bold {
  font-weight: 600;
  color: #585E6E;
}

.bold {
  font-weight: 600
}

h3 {
  color: #585E6E;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}

h4.card-text {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  color: #585E6E;
  font-weight: 600;
}

.txt-white {
    color: #EFF0E9;
}

.container {
  margin-left: 15%;
}

/* container styling
(this is the main layout styling. move to global css)(2/11/26)*/
.container-middle-main {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 8rem;
}

.container-middle {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
}

p {
  color: #585E6E;
}

p.card-text {
  font-size: 16px;
}

.text-body-light {
  color: #EFF0E9;

}

.card-body {
  background-color: #79A0BF;
  width: 100%;
  max-height: 500px;
  min-height: 150px;
}

.card-body-wh {
  background-color: #79A0BF;

}


.card-text {
  color: #EFF0E9;
}

.btn-outline-secondary {
  border-color: #EFF0E9;
}

.btn-outline-secondary:disabled {
  border-color: #EFF0E9;
  opacity: 100%;
  cursor: default;
}

.btn.btn-custom-v1 {
  background-color: #79A0BF;
  border-width: 0;
  color: #EFF0E9;
  cursor: default;
  opacity: 100%;
}

.btn.btn-custom-v1:hover {
  background-color: #85a4bd;
  border-width: 0;
  color: #EFF0E9;
  cursor: default;
  opacity: 100%;
}

.btn.btn-custom-v2 {
  background-color: #EFF0E9;
  border-width: 2px;
  border-color: #79A0BF;
  color: #79A0BF;
  cursor: default;
  opacity: 100%;
}


.card {
  border: none;
}

.card.shadow-sm {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100%;
  min-height: 520px;
}

.card-body .btn-group>.btn {
  color: #EFF0E9
}

.col {
  margin-bottom: 3%;
}

/* fonts */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

#project-header {
  padding-top: 150px;
}

.col-md {
  padding-top: 5%;
}

.col-md-6 {
  padding-right: 5%;
}